.storeInfo {
  @apply w-full py-24 flex justify-around items-center max-sm:flex-col max-sm:gap-[32px];
  background: url(./../../assets/storeBackground.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
