.header_wrapper {
  @apply w-full flex  items-center border-b border-[#d0d0d0] sticky top-0 z-50 bg-white px-16 py-3 justify-between;
  img {
    @apply w-44 h-24;
  }
  h1 {
    @apply text-xl text-green-600 font-semibold;
  }
  .search_container {
    @apply flex items-center w-96 h-12 justify-between  bg-zinc-200 rounded-lg;
    input {
      @apply bg-transparent w-full pl-4  outline-none;
    }
    button {
      @apply flex items-center pl-4 pr-4 justify-center h-12 bg-gray-300 rounded-r-lg;
      img {
        @apply w-5 h-5;
      }
    }
  }
  .header_contact {
    @apply flex  items-center gap-2;
    img {
      @apply w-10 h-10;
    }
    div {
      @apply flex flex-col gap-1;
      strong {
        @apply cursor-pointer text-green-600 hover:text-green-900;
      }
    }
  }
  .header_info {
    @apply flex items-center gap-4;
    img {
      @apply w-12 h-12;
    }
    p {
      @apply text-green-600 font-semibold;
    }
  }
}
@media (max-width: 768px) {
  .header_wrapper {
    @apply px-0 justify-center;
    h1 {
      @apply hidden;
    }
    .search_container,
    .header_info,
    .header_contact {
      @apply hidden;
    }
  }
}
@media (max-width: 1280px) {
  .header_wrapper {
    @apply px-3;
    h1 {
      @apply hidden;
    }
    .header_info {
      @apply hidden;
    }
  }
}
