.searchEngine {
  width: 430px;
  height: 50px;
  border-radius: 10px;
  background: #eeeeee;
  padding: 0 0 0 15px;
  input {
    outline: none;
    border: none;
    background: transparent;
  }
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ddd;
    width: 60px;
    height: 100%;
    border: none;
    border-radius: 0 10px 10px 0;
    img {
      width: 20px;
      height: 20px;
    }
  }
  .searchInp {
    width: 100%;
  }
}
